#sidebar_second {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 400px) {
    #sidebar_second {
        min-width: 350px;
    }
}

#block-bootstrap-barrio-subtheme-complexsearchblock .js-form-item {
	margin-bottom: 0.5rem !important;
}

#block-bootstrap-barrio-subtheme-complexsearchblock .form-actions {
	margin-bottom: 0 !important;
}

#block-bootstrap-barrio-subtheme-complexsearchblock {
    margin: 0;
}