/* Custom Gin Admin Theme Styles */

.gin-secondary-toolbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-item__description, .fieldset__description {
    max-width: initial !important;
}

.expand-help-hide {
    display: none;
}

@media (max-width: 40em) {
    .layout-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-inline: 0 !important;
    }
}