/* Custom Gin Admin Theme Styles */

.gin-secondary-toolbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-item__description, .fieldset__description {
    max-width: initial !important;
}

.expand-help-hide {
    display: none;
}

@media (max-width: 40em) {
    .layout-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-inline: 0 !important;
    }
}

@media (max-width: 1024px) {
    .gin--edit-form :where(*) .region-sticky, .gin--edit-form :is(#extra-specificity-hack, [data-drupal-admin-styles]) .region-sticky {
        inset-block-start: calc(var(--gin-toolbar-y-offset) - var(--gin-spacing-m) - var(--gin-spacing-xxs)) !important;
    }
}

@media (min-width: 1025px) and (max-width: 1100px) {
    .gin--edit-form :where(*) .region-sticky, .gin--edit-form :is(#extra-specificity-hack, [data-drupal-admin-styles]) .region-sticky {
        inset-block-start: calc(var(--gin-toolbar-y-offset)) !important;
    }
}