/* Playlist */
.full-work-player-single-file {
	display: none !important;
}

.full-work-player-streaming-item span {
	display: none;
}

.full-work-player-streaming-item audio {
	display: block;
}

.full-work-player-streaming-item.not-playing {
	display: none;
}

.full-work-player-now-playing {
	color: white;
	background-color: #484848;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player-control {
	background: transparent;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	line-height: initial;
}

.player-control i {
	font-size: 1.5em;
	color: white;
}

.player-control:disabled i {
	color: #929292;
}

.player-control:hover:not(:disabled) i {
	color: #49a0f8;
}

.player-control i.chrome-only {
	display: none;
}

.player-control:first-child {
	margin-right: 5px;
}

.full-work-player-playlist {
	color: white;
	max-height: calc(42px * 5.5);
	overflow-y: scroll;
}

.full-work-player-playlist > button {
	background-color: #484848;
	height: 42px;
	overflow: hidden;
	width: 100%;
	border: none;
	color: white;
}

.full-work-player-playlist > button:hover > .full-work-player-playlist-name {
	text-decoration: underline;
}

.full-work-player-playlist > button:nth-child(even) {
	background-color: #5C5C5B;
}

.full-work-player-playlist-name {
	height: 26px;
	overflow: hidden;
}

.full-work-player-playlist-name.overflow {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 255) 0%, rgba(255, 255, 255, 255) calc(100% - 150px), rgba(255, 255, 255, 0) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

/* Playlist - Chrome/Edge Specific */
.playlist-chrome .full-work-player-playlist {
	max-height: calc(56px * 5.5);
}

.playlist-chrome .full-work-player-now-playing {
	color: black;
	background-color: #f1f3f4;
	border-radius: 30px;
	padding: 10px 23px !important;
}

.playlist-chrome .player-control {
	padding: 5px calc(5px + 2.3985px);
	border-radius: 50%;
}

.playlist-chrome .player-control:hover:not(:disabled) {
	background-color: #e5e7e8;
}

.playlist-chrome .player-control i.chrome-only {
	display: initial !important;
}

.playlist-chrome .player-control i {
	color: black;
	display: none;
}

.playlist-chrome .player-control:disabled i {
	color: #9f9f9f;
}

.playlist-chrome .player-control:hover:not(:disabled) i {
	color: black;
}

.playlist-chrome .player-control:first-child {
	margin-right: 0px;
}

.playlist-chrome .full-work-player-playlist {
	border-radius: 30px;
	color: black;
}

.playlist-chrome .full-work-player-playlist > button {
	background-color: #f1f3f4;
	padding: 15px 23px !important;
	height: 56px;
	color: black;
}

.playlist-chrome .full-work-player-playlist > button:nth-child(even) {
	background-color: #dfdfdf;
}

.playlist-chrome .full-work-player-playlist-name.overflow {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 255) 0%, rgba(0, 0, 0, 255) calc(100% - 150px), rgba(0, 0, 0, 0) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

/* Playlist - Safari specific */
.playlist-safari .full-work-player-now-playing {
	background-color: #878787;
	border-radius: 7px;
}

.playlist-safari .full-work-player-playlist {
	border-radius: 7px;
}

.playlist-safari .player-control:first-child {
	margin-right: 0px;
}

.playlist-safari .player-control {
	padding: 0.5px calc(0.5px + 2.3985px);
	border-radius: 50%;
}

.playlist-safari .player-control:hover:not(:disabled) {
	background-color: #55ab55;
}

.playlist-safari .player-control:disabled i {
	color: #cccccc;
}

.playlist-safari .player-control:hover:not(:disabled) i {
	color: white;
}

.playlist-safari .full-work-player-playlist > button {
	background-color: #878787;
}

.playlist-safari .full-work-player-playlist > button:nth-child(even) {
	background-color: #989898;
}

.playlist-safari .full-work-player-playlist > button:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.playlist-safari .full-work-player-playlist > button:last-child {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

/* Downloads section */
.full-work-downloads table {
	font-size: 0.8em;
	word-wrap: break-word;
}

.full-work-downloads td {
	/* fixes tables not wrapping text correctly with auto layout,
	see: https://stackoverflow.com/a/47454657 */
	max-width: 1px;
}

.full-work-downloads td.table-no-collapse {
	max-width: initial;
}