/**
 * @file
 * Subtheme specific CSS.
 */

/* Misc */
.space {
	margin-bottom: 10px;
}

.pagination .page-item {
	margin-bottom: 5px;
}

small {
	font-size: 0.85rem;
}

.content .title {
	padding-left: 1rem;
}

@media (min-width: 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 14px;
	}

	small {
		font-size: 1em;
	}

	.contextual-menu .btn {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		border-radius: 0.25rem;
	}
}

.node__content {
	margin-top: 0;
}

.sidebar .block {
	background-color: #f2f2f2;
	border: none;
}

.alert-aa-metadata {
	background-color: #f2f2f2;
	border-color: #dee2e5;
}

.alert-aa-info {
	background-color: #cfe2ff;
	border-color: #b6d4fe;
}

.alert p:last-child {
	margin-bottom: 0;
}

.column-gap-2 {
	column-gap: 0.5rem;
}

.block-page-title-block {
	margin-top: 0.5rem;
}

.field--type-image img {
	margin: 0;
}

button.nav-link {
	border: 0;
	background-color: transparent;
	width: 100%;
	text-align: left;
}

/* Navbar */
#navbar-main {
	padding-left: 15px;
	padding-right: 15px;
}

#navbar-main .nav-item > .nav-link,
#navbar-main .dropdown-item > a {
	color: #444444;
}

.navbar-brand img {
	max-height: 64px;
}

/* Work card */
.work-card {
	min-height: 125px;
	line-height: 20px;
	border-radius: 0.25rem;
	margin-left: calc(125px + 0.5rem);
}

.work-card,
.work-card .cover-placeholder,
.work-card img {
	background-color: #f2f2f2;
	border: 1px solid #dee2e5;
}

.work-card h6 a {
	text-decoration: none;
}

.work-card h6 a:hover {
	text-decoration: underline;
}

.work-card .cover-placeholder,
.work-card img {
	object-fit: cover;
	width: 125px;
	height: 125px;
	margin-top: calc(-0.5rem - 1px);
	margin-right: calc(0.5rem + 1px);
	margin-bottom: calc(0.5rem + 1px);
	margin-left: calc(-125px - 1px - 1rem);
	border-radius: 0.25rem;
	float: left;
}

.work-card .cover-placeholder i {
	color: #a8a8a8;
	font-size: 40px;
}

.work-card h6 {
	font-size: 1.5rem;
	font-weight: normal;
}

.work-card div.field--type-image {
	margin: 0;
}

@media (max-width: 850px) {
	.work-card {
		min-height: 100px;
		margin-left: calc(100px + 0.5rem);
	}

	.work-card h6 {
		font-size: 1.1669rem;
	}

	.work-card .cover-placeholder,
	.work-card img {
		width: 100px;
		height: 100px;
		margin-left: calc(-100px - 1px - 1rem);
	}
}

@media (max-width: 475px) {
	.work-card {
		min-height: 75px;
		margin-left: 0;
	}

	.work-card img {
		width: 75px;
		height: 75px;
		margin-left: calc(-1px - 0.5rem);
	}

	.work-card .cover-placeholder {
		display: none !important;
	}

	.work-card-lower-info {
		clear: both;
	}
}

.rating-mature {
	background-color: #f07f07;
	color: white;
}

.work-card-fandoms {
	margin-bottom: 0.75rem;
}

.work-card-lower-info small {
	text-align: right;
}

.work-card-nsfw-text {
	background-color: #f6f6f2;
	border-radius: 0.25rem;
}

.work-card-nsfw-text p {
	margin-bottom: 0;
}

/* Full Work */
.full-work {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
	grid-template-rows: auto auto minmax(0, 1fr);
	column-gap: 1rem;
	row-gap: 0.5rem;
	margin-top: 0.75rem;
}

.full-work > .field--name-field-cover {
	grid-column: 1;
	grid-row: 1 / span 2;
}

.full-work > .field--name-field-cover img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.full-work-filters {
	grid-column: 1;
	grid-row: 3;
}

.full-work-main-content {
	grid-column: 2;
	grid-row: 1 / span 3;
}

.full-work .contextual-menu {
	grid-column: 3;
	grid-row: 1;
	display: flex;
	justify-content: end;
	flex-wrap: wrap;
	gap: 0.25rem;
	height: fit-content;
}

.full-work .summary-and-notes a {
	word-break: break-all;
}

.full-work-links-downloads {
	grid-column: 3;
	grid-row: 2 / span 2;
}

.full-work-dates small {
	font-size: 0.85rem !important;
}

.full-work .work-field-label {
	font-weight: bold;
}

.full-work .work-card .work-field-label {
	font-weight: initial;
}

.full-work audio {
	width: 100%;
}

.full-work-jump-btn {
	display: none;
}

.full-work .alert {
	margin-bottom: 0.5rem;
}

.full-work.no-image .full-work-filters {
	grid-row: 1 / span 3;
}

.full-work.no-image:not(.filters-enabled) .full-work-main-content {
	grid-column: 1 / span 2;
}

.full-work.legacy-series {
	grid-template-columns: 300px minmax(0, 1fr);
	grid-template-rows: auto minmax(0, 1fr);
}

.full-work.legacy-series .form-item-sort-by {
	display: none !important;
}

.full-work.legacy-series .contextual-menu {
	grid-column: 1;
	grid-row: 1;
	justify-content: start;
}

.full-work.legacy-series .full-work-filters {
	grid-column: 1;
	grid-row: 2
}

.full-work.legacy-series .full-work-main-content {
	grid-column: 2;
	grid-row: 1 / span 2;
}

.full-work.full-work-legacy-work > .field--name-field-cover {
	grid-row: 2;
}

.full-work.full-work-legacy-work .full-work-main-content {
	grid-row: 2;
	grid-column: 2 / span 2;
}

.full-work.full-work-legacy-work.no-image .full-work-main-content {
	grid-column: 1 / span 3;
}

.full-work .views-row:last-child .work-card-wrapper {
	margin-bottom: 0 !important;
}

@media (max-width: 1600px) {
	.full-work {
		grid-template-columns: 300px minmax(0, 1fr) 400px;
	}

	.full-work > .field--name-field-cover img {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 1280px) {
	.full-work {
		grid-template-columns: 300px minmax(0, 1fr) 300px;
	}

	.full-work.no-image:not(.filters-enabled) {
		grid-template-columns: 300px minmax(0, 1fr) 400px;
	}

	.full-work.legacy-series:not(.filters-enabled) {
		grid-template-columns: 300px minmax(0, 1fr);
	}
}

@media (max-width: 1080px) {
	.full-work {
		grid-template-columns: 300px minmax(0, 1fr);
		grid-template-rows: auto minmax(0, 1fr);
	}

	.full-work > .field--name-field-cover {
		grid-row: 1;
	}

	.full-work-main-content {
		grid-row: 1 / span 3;
	}

	.full-work-links-downloads {
		grid-column-start: 2;
		grid-row-start: 4;
	}

	.full-work .contextual-menu {
		grid-column: 1;
		grid-row: 2;
		height: fit-content;
		flex-direction: column;
	}

	.full-work .contextual-menu .btn {
		width: 100%;
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		border-radius: 0.25rem;
	}

	.full-work-jump-btn {
		display: initial;
	}

	.full-work.no-image.filters-enabled .contextual-menu {
		grid-row: 1
	}

	.full-work.no-image.filters-enabled .full-work-filters {
		grid-row: 2 / span 2;
	}

	.full-work.no-image.filters-enabled .full-work-main-content {
		grid-row: 1 / span 2;
	}

	.full-work.no-image.filters-enabled .full-work-links-downloads {
		grid-row: 3;
	}

	.full-work.no-image:not(.filters-enabled) {
		grid-template-columns: minmax(0, 1fr) 300px;
	}

	.full-work.no-image:not(.filters-enabled) .full-work-main-content {
		grid-column: 1;
		grid-row: 1 / span 2;
	}

	.full-work.no-image:not(.filters-enabled) .contextual-menu {
		grid-column: 2;
		grid-row: 1;
		flex-direction: row;
	}

	.full-work.no-image:not(.filters-enabled) .contextual-menu .btn {
		width: initial;
	}

	.full-work.no-image:not(.filters-enabled) .full-work-links-downloads {
		grid-column: 2;
		grid-row: 2;
	}

	.full-work.legacy-series .contextual-menu {
		flex-direction: row;
	}

	.full-work.legacy-series .contextual-menu .btn {
		width: initial;
	}

	.full-work.full-work-legacy-work {
		grid-template-rows: auto minmax(0, 1fr);
	}

	.full-work.full-work-legacy-work > .field--name-field-cover {
		grid-row: 1;
	}

	.full-work.full-work-legacy-work .full-work-main-content {
		grid-row: 1 / span 2;
	}

	.full-work.full-work-legacy-work.no-image .full-work-main-content {
		grid-column: 1 / span 2;
		grid-row: 2;
	}
}

@media (max-width: 768px) {
	.full-work {
		grid-template-columns: 150px minmax(0, 1fr);
		grid-template-rows: auto auto minmax(0, 1fr);
	}

	.full-work-filters,
	.full-work.no-image.filters-enabled .full-work-filters {
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	.full-work > .field--name-field-cover {
		grid-row: 2;
	}

	.full-work > .field--name-field-cover img {
		width: 150px;
		height: 150px;
	}

	.full-work .contextual-menu {
		grid-row: 3;
	}

	.full-work-main-content {
		grid-row: 2 / span 2;
	}

	.full-work-links-downloads {
		grid-column: 2;
		grid-row: 4;
	}

	.full-work.no-image.filters-enabled .contextual-menu {
		grid-column: 1 / span 2;
		grid-row: 2;
		flex-direction: row;
		margin-bottom: 0;
	}

	.full-work.no-image.filters-enabled .contextual-menu .btn {
		width: initial;
	}

	.full-work.no-image.filters-enabled .full-work-main-content {
		grid-column: 1 / span 2;
		grid-row: 3;
	}

	.full-work.no-image.filters-enabled .full-work-links-downloads {
		grid-column: 1 / span 2;
		grid-row: 4;
	}

	.full-work.no-image:not(.filters-enabled) {
		grid-template-columns: minmax(0, 1fr);
	}

	.full-work.no-image:not(.filters-enabled) .contextual-menu {
		grid-column: 1;
		grid-row: 1;
	}

	.full-work.no-image:not(.filters-enabled) .full-work-main-content {
		grid-column: 1;
		grid-row: 2;
	}

	.full-work.no-image:not(.filters-enabled) .full-work-links-downloads {
		grid-column: 1;
		grid-row: 3;
	}

	.full-work.legacy-series .contextual-menu {
		justify-content: end;
	}

	.full-work.full-work-legacy-work .contextual-menu {
		grid-row: 2;
	}
}

@media (max-width: 500px) {
	.full-work {
		grid-template-columns: minmax(0, 1fr);
		margin-top: 0;
	}

	.full-work-filters {
		grid-column: 1;
	}

	.full-work .contextual-menu,
	.full-work.full-work.full-work-legacy-work .contextual-menu {
		grid-row: 2;
		flex-direction: row;
		margin-bottom: 0;
	}

	.full-work .contextual-menu .btn {
		width: initial;
	}

	.full-work > .field--name-field-cover img,
	.full-work.full-work.full-work-legacy-work > .field--name-field-cover img {
		width: 100%;
		height: 100%;
	}

	.full-work > .field--name-field-cover,
	.full-work.full-work.full-work-legacy-work > .field--name-field-cover {
		grid-row: 3;
	}

	.full-work-main-content,
	.full-work.full-work.full-work-legacy-work .full-work-main-content {
		grid-column: 1;
		grid-row: 4;
	}

	.full-work-links-downloads {
		grid-column: 1;
		grid-row: 5;
	}
}

/* User profile pages */

.user-profile-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.user-profile-header .contextual-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.user-profile-header .user-profile-title {
    padding-right: 0.5rem;
}

.user-profile-header .user-profile-title h1 {
    margin-bottom: 0;
    text-wrap: nowrap;
}

.user-profile-bio {
    display: inherit;
    line-height: 1.25rem;
}

.user-profile-bio p {
    margin-bottom: 1.25rem;
}

.user-profile-bio > p:last-child {
    margin-bottom: 0;
}

.expand-help-hide {
    max-height: 6.25rem;
    overflow: hidden;
    line-height: 1.25rem;
}

.user-profile-content > div {
    display: flex;
    flex-direction: column;
}

.user-profile-see-more {
    align-self: flex-end;
}

@media (max-width: 500px) {
    .user-profile-header {
        flex-direction: column;
    }

    .user-profile-header .contextual-menu {
        align-self: flex-end;
    }

    .user-profile-header .user-profile-title {
        align-self: flex-start;
    }
}

/* Forms & Facets */
.fieldset-wrapper div.checkbox {
	margin-bottom: 0px !important;
}

.btn-full-width {
	width: 100%;
	text-align: left;
	padding-right: 2.25rem;
	color: #212529;
	background-color: #fff;
	border: 1px solid #ced4da;
}

.btn-full-width:hover, .btn-full-width:focus {
	background-color: #ebebeb;
	color: #212529;
}

.btn-full-width[aria-expanded="true"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 11 6 -6 6 6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
}

.btn-full-width[aria-expanded="false"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
}

#edit-actions--2 {
	margin-bottom: 0 !important;
}

label[for=edit-sort-by--2] {
	white-space: nowrap;
	margin-right: 0.5rem;
}

#views-exposed-form-testing-search-api-search {
	margin-bottom: 0;
}

#simple-search-api-form {
	display: flex;
}

#simple-search-api-form > div {
	margin-bottom: 0 !important;
}

#simple-search-api-form .form-type-search {
	margin-right: 0.25rem;
	width: 100%;
}

#simple-search-api-form .js-form-type-search,
#simple-search-api-form .form-actions {
	margin-bottom: 0 !important;
}

#simple-search-api-form .js-form-type-search {
	margin-right: 5px;
}

@media (max-width: 992px) {
	header #simple-search-api-form {
		padding: 8px 0;
	}
}

.aa-duration-wrapper {
	width: 100%;
}

label[for="edit-duration-from--2"],
label[for="edit-duration-to--2"] {
	min-width: 32px;
}

select#edit-sort-bef-combine--2 {
	font-size: 0.875rem;
}

.form-floating label[for="edit-sort-bef-combine--2"] {
	padding: 1rem 0.6rem;
}