/**
 * @file
 * Subtheme specific CSS.
 */

.space {
	margin-bottom: 10px;
}

/* Navbar */

#search-block-form .js-form-type-search,
#search-block-form .form-actions {
	margin-bottom: 0 !important;
}

#search-block-form .js-form-type-search {
	margin-right: 5px;
}

@media (max-width: 992px) {
	header #search-block-form {
		padding: 8px 0;
	}
}

#navbar-main {
	padding-left: 15px;
	padding-right: 15px;
}

#navbar-main .nav-item > .nav-link,
#navbar-main .dropdown-item > a {
	color: #444444;
}

.navbar-brand img {
	max-height: 64px;
}

/* Work card */
.work-card {
	min-height: 125px;
	background-color: #f6f6f2;
	line-height: 20px;
}

.work-card a {
	text-decoration: none;
}

.work-card a:hover {
	text-decoration: underline;
}

.work-card img {
	object-fit: cover;
	width: 125px;
	height: 125px;
	margin: -0.5rem 0.5rem 0.5rem -0.5rem;
}

.work-card h6 {
	font-size: 1.5rem;
	font-weight: normal;
}

@media (max-width: 475px) {
	.work-card {
		min-height: 75px !important;
	}

	.work-card img {
		width: 75px !important;
		height: 75px !important;
	}
}

@media (max-width: 768px) {
	.work-card {
		min-height: 100px;
	}

	.work-card h6 {
		font-size: 1.1669rem;
	}

	.work-card img {
		width: 100px;
		height: 100px;
	}

	.work-card-lower-info {
		clear: both;
		margin-left: 0px !important;
	}
}

.rating-mature {
	background-color: #f07f07;
	color: white;
}

.work-card-fandoms {
	margin-bottom: 0.75rem;
}

.work-card-lower-info {
	margin-left: calc(125px);
}

.work-card-no-cover {
	margin-left: 0px !important;
}

/* .work-card-info-series {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	margin-left: 125px;
} */

/* Full Work */
.full-work {
	display: grid;
	grid-template-columns: 400px 1fr 400px;
	column-gap: 1rem;
}

.full-work > img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	grid-column-start: 1;
}

.full-work-main-content {
	grid-column-start: 2;
}

.full-work-main-content.full-work-no-image {
	grid-column: 1 / span 2;
}

.full-work-player-downloads {
	grid-column-start: 3;
}

.full-work-dates small {
	font-size: 0.75em !important;
}

.full-work .work-field-label {
	font-weight: bold;
}

.full-work audio {
	width: 100%;
}

.full-work table {
	font-size: 0.8em;
	word-wrap: break-word;
}

.full-work table i {
	font-size: 1.5em;
}

.full-work td {
	/* fixes tables not wrapping text correctly with auto layout,
	see: https://stackoverflow.com/a/47454657 */
	max-width: 1px;
}

@media (max-width: 1280px) {
	.full-work {
		grid-template-columns: 200px 1fr 400px;
	}

	.full-work > img {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 1080px) {
	.full-work {
		grid-template-columns: 200px 1fr;
		row-gap: 0.5rem;
	}

	.full-work-player-downloads {
		grid-column-start: 2;
	}

	.full-work-player-downloads.full-work-no-image {
		grid-column: 1 / span 2;
	}
}

@media (max-width: 600px) {
	.full-work {
		grid-template-columns: 150px 1fr;
	}

	.full-work > img {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 500px) {
	.full-work {
		grid-template-columns: 1fr;
	}

	.full-work > img {
		width: 100%;
		height: 100%;
	}

	.full-work > img,
	.full-work-main-content,
	.full-work-player-downloads {
		grid-column-start: 1;
	}
}

/* Playlist */
.full-work-player-single-file {
	display: none !important;
}

.full-work-player-streaming-item span {
	display: none;
}

.full-work-player-streaming-item audio {
	display: block;
}

.full-work-player-streaming-item.not-playing {
	display: none;
}

.full-work-player-now-playing {
	color: white;
	background-color: #484848;
}

.player-control {
	background: transparent;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	line-height: initial;
}

.player-control i {
	font-size: 1.5em;
	color: white;
}

.player-control:disabled i {
	color: #929292;
}

.player-control:hover:not(:disabled) i {
	color: #49a0f8;
}

.player-control i.chrome-only {
	display: none;
}

.player-control:first-child {
	margin-right: 5px;
}

.full-work-player-playlist {
	color: white;
	max-height: calc(42px * 10);
	overflow-y: scroll;
}

.full-work-player-playlist > button {
	background-color: #484848;
	height: 42px;
	overflow: hidden;
	width: 100%;
	border: none;
	color: white;
}

.full-work-player-playlist > button:hover > .full-work-player-playlist-name {
	text-decoration: underline;
}

.full-work-player-playlist > button:nth-child(even) {
	background-color: #5C5C5B;
}

.full-work-player-playlist-name {
	height: 26px;
	overflow: hidden;
}

.full-work-player-playlist-name.overflow {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 255) 0%, rgba(255, 255, 255, 255) calc(100% - 150px), rgba(255, 255, 255, 0) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

/* Playlist - Chrome/Edge Specific */
.playlist-chrome .full-work-player-playlist {
	max-height: calc(56px * 10);
}

.playlist-chrome .full-work-player-now-playing {
	color: black;
	background-color: #f1f3f4;
	border-radius: 30px;
	padding: 10px 23px !important;
}

.playlist-chrome .player-control {
	padding: 5px calc(5px + 2.3985px);
	border-radius: 50%;
}

.playlist-chrome .player-control:hover:not(:disabled) {
	background-color: #e5e7e8;
}

.playlist-chrome .player-control i.chrome-only {
	display: initial !important;
}

.playlist-chrome .player-control i {
	color: black;
	display: none;
}

.playlist-chrome .player-control:disabled i {
	color: #9f9f9f;
}

.playlist-chrome .player-control:hover:not(:disabled) i {
	color: black;
}

.playlist-chrome .player-control:first-child {
	margin-right: 0px;
}

.playlist-chrome .full-work-player-playlist {
	border-radius: 30px;
	color: black;
}

.playlist-chrome .full-work-player-playlist > button {
	background-color: #f1f3f4;
	padding: 15px 23px !important;
	height: 56px;
	color: black;
}

.playlist-chrome .full-work-player-playlist > button:nth-child(even) {
	background-color: #dfdfdf;
}

.playlist-chrome .full-work-player-playlist-name.overflow {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 255) 0%, rgba(0, 0, 0, 255) calc(100% - 150px), rgba(0, 0, 0, 0) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

/* Playlist - Safari specific */
.playlist-safari .full-work-player-now-playing {
	background-color: #878787;
	border-radius: 7px;
}

.playlist-safari .full-work-player-playlist {
	border-radius: 7px;
}

.playlist-safari .player-control:first-child {
	margin-right: 0px;
}

.playlist-safari .player-control {
	padding: 0.5px calc(0.5px + 2.3985px);
	border-radius: 50%;
}

.playlist-safari .player-control:hover:not(:disabled) {
	background-color: #55ab55;
}

.playlist-safari .player-control:disabled i {
	color: #cccccc;
}

.playlist-safari .player-control:hover:not(:disabled) i {
	color: white;
}

.playlist-safari .full-work-player-playlist > button {
	background-color: #878787;
}

.playlist-safari .full-work-player-playlist > button:nth-child(even) {
	background-color: #989898;
}

.playlist-safari .full-work-player-playlist > button:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.playlist-safari .full-work-player-playlist > button:last-child {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

/* Forms & Facets */
.fieldset-wrapper div.checkbox {
	margin-bottom: 0px !important;
}

.btn-full-width {
	width: 100%;
	text-align: left;
	padding-right: 2.25rem;
	color: #212529;
	background-color: #fff;
	border: 1px solid #ced4da;
}

.btn-full-width:hover, .btn-full-width:focus {
	background-color: #ebebeb;
	color: #212529;
}

.btn-full-width[aria-expanded="true"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 11 6 -6 6 6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
}

.btn-full-width[aria-expanded="false"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
}

#edit-actions--2 {
	margin-bottom: 0 !important;
}

#views-exposed-form-testing-search-api-search {
	margin-bottom: 0;
}

#search-api-form {
	display: flex;
}

#search-api-form > div {
	margin-bottom: 0 !important;
}

#search-api-form .form-type-search {
	margin-right: 0.25rem;
}