/**
 * @file
 * Subtheme specific CSS.
 */

.space {
	margin-bottom: 10px;
}

/* Navbar */

#search-block-form .js-form-type-search,
#search-block-form .form-actions {
	margin-bottom: 0 !important;
}

#search-block-form .js-form-type-search {
	margin-right: 5px;
}

@media (max-width: 992px) {
	header #search-block-form {
		padding: 8px 0;
	}
}

#navbar-main {
	padding-left: 15px;
	padding-right: 15px;
}

#navbar-main .nav-item > .nav-link,
#navbar-main .dropdown-item > a {
	color: #444444;
}

.navbar-brand img {
	max-height: 64px;
}

/* Work card */

.work-card {
	min-height: 125px;
	background-color: #f6f6f2;
	line-height: 20px;
}

.work-card a {
	/* color: #007185; */
	text-decoration: none;
}

.work-card a:hover {
	text-decoration: underline;
}

.work-card img {
	object-fit: cover;
	width: 125px;
	height: 125px;
	margin: -0.5rem 0.5rem 0.5rem -0.5rem;
}

.work-card h6 {
	font-size: 1.5rem;
	font-weight: normal;
}

@media (max-width: 475px) {
	.work-card {
		min-height: 75px !important;
	}

	.work-card img {
		width: 75px !important;
		height: 75px !important;
	}
}

@media (max-width: 768px) {
	.work-card {
		min-height: 100px;
	}

	.work-card h6 {
		font-size: 1.1669rem;
	}

	.work-card img {
		width: 100px;
		height: 100px;
	}

	.work-card-lower-info {
		clear: both;
		margin-left: 0px !important;
	}
}

.rating-mature {
	background-color: #f07f07;
	color: white;
}

.work-card-fandoms {
	margin-bottom: 0.75rem;
}

.work-card-lower-info {
	margin-left: calc(125px);
}

.work-card-no-cover {
	margin-left: 0px !important;
}

.work-card-info-series {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	margin-left: 125px;
}

/* Forms & Facets */

.fieldset-wrapper div.checkbox {
	margin-bottom: 0px !important;
}

.btn-full-width {
	width: 100%;
	text-align: left;
	padding-right: 2.25rem;
	color: #212529;
	background-color: #fff;
	border: 1px solid #ced4da;
}

.btn-full-width:hover, .btn-full-width:focus {
	background-color: #ebebeb;
	color: #212529;
}

.btn-full-width[aria-expanded="true"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 11 6 -6 6 6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
}

.btn-full-width[aria-expanded="false"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
}

#edit-actions--2 {
	margin-bottom: 0 !important;
}

#views-exposed-form-testing-search-api-search {
	margin-bottom: 0;
}

#search-api-form {
	display: flex;
}

#search-api-form > div {
	margin-bottom: 0 !important;
}

#search-api-form .form-type-search {
	margin-right: 0.25rem;
}